// base

@import './base/reset';

// fonts
@import './fonts/fonts';

// helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/utils';
@import './helpers/global';

// components
@import '../components/overlay/overlay';
@import '../components/burger/burger';
@import '../components/buttons/btn';

@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/benefits/benefits.scss';
@import '../components/footer/footer';

.products {
	padding-top: 78px;

	@media screen and (max-width: 992px) {
		padding-top: 30px;
	}

	&__container {
		max-width: 910px;
	}

	&__top {
		margin-bottom: 40px;

		padding: 0 48px;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 40px;

		@media screen and (max-width: 992px) {
			flex-direction: column;
			padding: 0;
			gap: 20px;
		}
	}

	&__row {
		display: flex;
		gap: 40px;

		@media screen and (max-width: 992px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__col {
	}

	&__btn {
		flex-shrink: 0;
	}
}
.container {
}
.search {
	position: relative;
	max-width: 530px;
	width: 100%;
	min-width: 200px;
	border: 2px solid #32de8a;
	border-radius: 46px;
	overflow: hidden;

	@media screen and (max-width: 992px) {
		border-radius: 26px;
	}

	&__input {
		width: 100%;
		padding: 25px 32px;
		padding-right: 74px;
		@media screen and (max-width: 992px) {
			padding-right: 50px;
			padding-left: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}
}
.btn-search {
}
.btn-reset {
}
.btn-secondary {
}
.product {
	padding: 20px 0;
	border-bottom: 1px solid #e7eaec;

	display: grid;
	grid-template-columns: minmax(140px, 1fr) 1fr 1fr;
	align-items: flex-start;
	gap: 20px;

	@media screen and (max-width: 992px) {
		grid-template-columns: minmax(0, 1fr) 1fr 1fr;
	}

	&__link-wrapper {
		display: flex;
		align-items: center;
		gap: 16px;
		@media screen and (max-width: 992px) {
			gap: 10px;
		}
	}

	&__link {
		font-weight: 600;
		letter-spacing: -0.04em;
		color: #003c82;

		~ svg {
			opacity: 0;
			transition: opacity 120ms ease;
		}

		@include hover {
			text-decoration: underline;
			~ svg {
				opacity: 1;
			}
		}
	}

	&__price {
		font-weight: 600;
		font-size: 25px;
		letter-spacing: -0.06em;
		text-align: right;
		color: #101828;
	}
}
.badge {
	padding: 4px 20px;

	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 13px;

	/* line-height: 18px; */
	line-height: 1.4;
	letter-spacing: -0.02em;
	width: max-content;
}
.badge--orange {
	color: var(--clr-orange);
	border: 1px solid var(--clr-orange);
	border-radius: 55px;
}
.badge--blue {
	color: #0d3e69;
	border: 1px solid #0d3e69;
	border-radius: 55px;
}
.badge--green {
	color: #32de8a;
	border: 1px solid #32de8a;
	border-radius: 55px;
}

.article {
	&--space {
		padding-top: 48px;
		padding-bottom: 62px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		margin-bottom: 32px;
		&:not(:first-child) {
			margin-top: 40px;
		}
	}
	p {
		margin: 0;
	}
	p + p {
		margin-top: 20px;
	}

	a {
		text-decoration: underline;
		font-weight: 700;
		color: #1677d1;

		@include hover {
			color: #ee4f1c;
		}

		&:active {
			color: #ee4f1c;
		}
	}

	ol {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: counter;
		margin-top: 32px;

		li {
			padding-bottom: 20px;
			border-bottom: 1px solid #e7eaec;

			position: relative;
			padding-left: 38px;

			&::before {
				content: counter(counter) '.';
				counter-increment: counter;
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				font-family: 'Inter', sans-serif;
				font-weight: 600;
				font-size: 15px;

				/* line-height: 21px; */
				line-height: 1.4;
				letter-spacing: -0.02em;
				color: #1e6fcd;
			}
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: 32px;

		li {
			padding-bottom: 20px;
			border-bottom: 1px solid #e7eaec;

			position: relative;
			padding-left: 38px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-100%);
				left: 0;
				width: 16px;
				height: 16px;
				font-family: 'Inter', sans-serif;
				font-weight: 600;
				font-size: 15px;
				background-color: #ff3e00;
				border-radius: 50%;

				/* line-height: 21px; */
				line-height: 1.4;
				letter-spacing: -0.02em;
				color: #1e6fcd;
			}
		}
	}
}

.page {
	&__article {
		padding-top: 84px;
		padding-bottom: 70px;
	}
}

.box {
	padding-top: 37px;
	&__inner {
		padding: 82px 68px;
		background: linear-gradient(132deg, #1e6fcd 0%, #b7e5ff 100%);
	}

	h1 {
		color: #fff;
	}
}
