<div class="benefits-wrapper">
	<div class="benefits">
		<div class="benefits__inner">
			<div class="benefits__top">
				<div class="benefits__item">
					<img src="./assets/img/svg/logo_sm.svg" alt="logo" />
					<div>SSL Secured Connection</div>
				</div>
				<div class="benefits__item">
					<img src="./assets/img/svg/logo_sm.svg" alt="logo" />
					<div>24/7 Email Support</div>
				</div>
				<div class="benefits__item">
					<img src="./assets/img/svg/logo_sm.svg" alt="logo" />
					<div>High-Quality of Services</div>
				</div>
			</div>
			<div class="benefits__content">
				<p>
					We are pleased to be pioneers in services that help sustain well-being
					throughout our customers’ network. Thanks to the assistance and
					services we have provided over the years, more than 20 million clients
					have taken the opportunity to buy affordable generic drugs and improve
					their health without spending a fortune.
				</p>
				<p>
					The philosophy of our Canadian online pharmacy is based on striving
					for perfection and professionalism—qualities that have earned us the
					trust and respect of clients worldwide. Every day, we work hard to
					enhance your shopping experience. The advantages you gain when
					ordering from us are substantial and can be measured in improved
					health outcomes and increased savings.
				</p>
			</div>
		</div>
	</div>
</div>
