<header class="header">
	<div class="header__container container">
		<a href="/" class="logo">
			<img
				class="logo__img"
				width="60"
				height="60"
				src="./assets/img/svg/logo.svg"
				alt="logo" />
		</a>

		<div class="mobile-menu">
			<nav class="nav">
				<ul class="menu">
					<li class="menu-item">
						<a href="#">Home</a>
					</li>
					<li class="menu-item">
						<a href="#">Shipping</a>
					</li>
					<li class="menu-item menu-item-has-childrem">
						<a href="#">Process to Order</a>
						<ul class="menu">
							<li class="menu-item">
								<a href="#">Benefits</a>
							</li>
							<li class="menu-item">
								<a href="#">Members</a>
							</li>
							<li class="menu-item">
								<a href="#">Process to Order</a>
							</li>
							<li class="menu-item">
								<a href="#">Benefits</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Benefits</a>
					</li>
					<li class="menu-item">
						<a href="#">Members</a>
					</li>
					<li class="menu-item">
						<a href="#">Answers</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__actions">
			<button class="btn btn-reset">Contact Us</button>
			<button class="header__burger burger btn-reset">
				<span></span>
			</button>
		</div>
	</div>
</header>
