<footer class="footer">
	<div class="footer__inner">
		<div class="footer__top">
			<ul class="menu">
				<li class="menu-item">
					<a href="#">Urology Consultation</a>
				</li>
				<li class="menu-item">
					<a href="#">Track Your Order</a>
				</li>
				<li class="menu-item">
					<a href="#">Terms & Conditions</a>
				</li>
				<li class="menu-item">
					<a href="#">Privacy Policy</a>
				</li>
				<li class="menu-item">
					<a href="#">Money Back Policy</a>
				</li>
				<li class="menu-item">
					<a href="#">Careers</a>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<div class="footer__item">
				<div class="footer__subtitle">Trademark</div>
				<p>
					The trademark names of drugs mentioned on our website belong to their
					respective developers / owners of intellectual property.
					Cohealthop.org is not commissioned or linked to any drug procuding
					company in any other way. All information shared here is presented for
					educational purposes, including factual, objective and unbiased
					materials about generic equivalents of brand drugs. None of the
					materials are published with the purpose of influeincing buyer’s
					decisions.
				</p>
			</div>
			<div class="footer__item">
				<div class="footer__subtitle">Disclaimer</div>
				<p>
					The information shared on Cohealthop.org is presented with the sole
					purpose of increasing user awareness about pharmaceutical products,
					new developments and price formation. Reader’s discretion is required
					at all times. Cohealthop.org do not by any means encourage readers act
					upon advice suggested by our authorts without prior consulting a
					licensed healthcare specialist. Cohealthop.org is not liable for any
					instances of misuse of information we share.
				</p>
			</div>
		</div>
	</div>
	<div class="footer__copy">
		Copyright © Cohealthop.org. All rights reserved.
	</div>
</footer>
