<section class="hero">
	<div class="hero__container container">
		<div class="hero__info">
			<h1 class="hero__title">
				My Canadian Drugstore - Shopping Help That Results in Savings
			</h1>
			<p>
				The pharmaceutical industry is constantly evolving, with modern medicine
				offering numerous advancements and formulations to provide increasingly
				effective, affordable, and safe drugs. Your Canadian Pharmacy supports
				these new trends by offering both brand-name and generic medications
				online.
			</p>
		</div>
		<img src="./assets/img/hero.png" alt="" class="hero__img" />
	</div>
</section>
